html
{
	background-color:#356fd4;
	width: 100%;
	height: 116%;
	background-image: url("wano.png");
	background-size:100%;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: larger;
}
h1 
{
	/*border-width: 8px;
	border-style: groove;
	border-color: #356fd4;
	background-color: #47ba6f;*/
	position: ;
	text-align: center;
	font-style: italic;
	font-size: 90px;
	color: #47ba6f;;
}

#img1
{

	display:inline-block;
	margin-left: 22px;
	transform: scale(1);
	transition: .3s ease-in-out;	
}
:hover#img1
{
	transform: scale(1.3);
}
#img2
{

	display:inline-block;
	margin-left:208px;
	transform: scale(1);
	transition: .3s ease-in-out;
}
:hover#img2
{
	transform: scale(1.3);
}
#img3
{

	display:inline-block;
	margin-left:218px;
	transform: scale(1);
	transition: .3s ease-in-out;
}
:hover#img3
{
	transform: scale(1.3);
}
#logo1
{
	text-align: ;
	display:inline-block;
	margin-top: 180px;
	margin-right: 14%;
	margin-left: 2%;
}
#logo2
{
	text-align:center ;
	display:inline-block;
	margin-right: 8%;
}
#logo3
{
	text-align: ;
	display:inline-block;
	
}


